*{
    padding: 0;
    margin: 0;
}
.maindiv{
    width: 80%;
    min-height: 100vh;
    margin: auto;
    background-color: rgb(245, 241, 241);
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background-color: aliceblue;
    /* padding-bottom: 10px; */
}
.clogo{
    float: left;
    margin-left: 50px;
    font-size: x-large;
   
}
.clink{
    float: right;
    margin-right: 180px;
    margin-top: 20px;
    
}
.clink a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    
}
.maindiv .content{
    width: 80%;
    background-image:url("./rough-horn-2146181_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 500px;
    margin-bottom: 30px;
}
.data{
    text-align: center;
    margin-top: 150px;
}
.data h1{
    /* margin-left: 300px; */
    font-size: 40px;
}
.data span{
    /* margin-left: 180px; */
    font-size: 50px;
    color: rgb(1, 0, 0);
    
}
.data button{
    background-color: black;
    padding:10px 30px 10px 30px;
    color: white;
    /* margin-left: 400px;
    margin-top: 30px; */
}
.icons{
    width: 100%;
    height: 300px;
    margin-top: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icons .first{
width: 25%;
height: 250px;

}
.second{
width: 25%;
height: 250px;
   
}
.third{
    width: 25%;
height: 250px;
   
    }
.icons img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 100px;
}
.icons h1{
    text-align: center;
}
.icons p{
    text-align: center;
}
.feature{
    text-align: center;
}
.feature hr{
    width: 230px;
    margin: auto;
}
.vid{
    width:100%;
    height: 200px;
}
.vid video{
    width: 100%;
    margin-top:30px;
}
.secondary{
    width: 100%;
    height:400px;
    margin-top:500px;
    display: flex;
    /* justify-content: center; */
}
.first img{
    width: 250px;
    height: 350px;
}
.first .f_data h1{
    text-align: center;
    margin-top: 20px;
}
.first .f_data p{
    text-align: center;
    margin-top: 20px;

}
.first{
    width: 50%;
    display: flex;
}
.second{
    width: 50%;
    display: flex;
}
.second img{
    width: 250px;
    height: 350px;
}
